# build directory
FOSSILS/
RPMS/
SOURCES/
BUILD/
SPECS/

_os
_arch
.rpmmacros

# ignore version* files
rocks-version.mk
rocks-version-common.mk

# ignore python files
python.mk
*.pyc

# ignore Rules* files
Rules-install.mk
Rules-linux-centos.mk
Rules-linux.mk
Rules-rcfiles.mk
Rules-scripts.mk
Rules.mk
Rolls.mk

# ignore src files
src/lmcompute/components/
src/lmcompute/*.tar.gz

# ignore subversion
.subversion/

