<?xml version="1.0" standalone="no"?>

<graph>

	<description>

	The lifemapper Roll

	</description>

	<copyright>
	Copyright (c) 2000 - 2012 The Regents of the University of California.
	All rights reserved. Rocks(r) v5.5/v6.0 www.rocksclusters.org
	
	</copyright>

	<changelog>
	$Log$
	</changelog>

	<!-- for LMcompute -->
	<edge from="server" to="lifemapper-server"/>
	<edge from="server" to="lifemapper-common"/>
	<edge from="client" to="lifemapper-common"/>

	<!-- for LMserver only -->
        <edge from="server" to="lifemapper-LMserver" cond="lmserver"/>

	<!-- for LMweb only -->
        <edge from="server" to="lifemapper-LMweb" cond="lmweb"/>

</graph>
